<%- include('../partials/header') %>

<h1>All Plants</h1>

<% plants.forEach(p => { %>
  <div class="card">
    <h3><a href="/plants/<%= p._id %>"><%= p.name %></a></h3>
    <p><%= p.description %></p>
    <a href="/plants/<%= p._id %>/edit">Edit</a>
    <form action="/plants/<%= p._id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </div>
<% }) %>

<%- include('../partials/footer') %>
